body{
margin:0;
font-family:'Segoe UI',sans-serif;

background: transparent;

min-height:100vh;
text-align:center;
color:#222;

position:relative;
overflow-x:hidden;
}

/* ENVELOPE */

.envelope{
width:160px;
height:100px;
background:#e74c3c;

margin:25vh auto;

position:relative;
border-radius:12px;
cursor:pointer;
box-shadow:0 15px 40px rgba(0,0,0,0.5);
animation:float 2s infinite ease-in-out;
}

.envelope:before{
content:"";
position:absolute;
top:0;
left:0;

width:0;
height:0;

border-left:80px solid transparent;
border-right:80px solid transparent;
border-bottom:50px solid #c0392b;
}

/* floating animation */

@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(-10px)}
100%{transform:translateY(0)}
}

/* invitation card */

.card{
display:none;
position:relative;

width:95%;
margin:20px auto;

padding:20px;

border-radius:6px;

background:transparent
backdrop-filter:fixedblur(1.3px);

border:2px solid rgba(0,0,0,0.5);

box-shadow:0 8px 25px rgba(0,0,0,0.3);

z-index:10;
}

/* title */

h1{
font-size:clamp(28px,5vw,44px);
letter-spacing:3px;
color: #222;
background:linear-gradient(45deg,#ffd700,#ffae00);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

/* teacher name */

#teacher{
font-size:clamp(22px,4vw,34px);
margin:20px 0;
font-weight:bold;
color: #222;

background:linear-gradient(45deg,#ffd700,#ffea00,#ffffff);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
border: #222;
text-shadow:
0 0 10px rgba(255,215,0,0.8),
0 0 20px rgba(255,215,0,0.6);

letter-spacing:1px;
}

/* signature */

canvas{
background:white;
border-radius:10px;
margin-top:15px;

box-shadow:0 0 15px rgba(255,215,0,0.6);
}

/* buttons */

button{
padding:12px 22px;
margin:10px;

border:none;
border-radius:25px;

background:linear-gradient(45deg,#ffd700,#ffb700);

color:black;
font-weight:bold;

cursor:pointer;

transition:0.3s;
}

button:hover{
transform:scale(1.08);
box-shadow:0 0 15px gold;
}

/* moving stalls */

.stalls{
margin-top:20px;
font-size:18px;
color: #222;
white-space:nowrap;

animation:moveStalls 12s linear infinite;
}

@keyframes moveStalls{
0%{transform:translateX(100%)}
100%{transform:translateX(-100%)}
}

/* stall map */

.map{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-top:10px;
color: #222;
}

.map div{
background:rgba(255,255,255,0.2);
padding:10px;
border-radius:8px;

cursor:pointer;

transition:0.3s;
}

.map div:hover{
background:rgba(255,215,0,0.3);
transform:scale(1.05);
}
.scroll{

background:#fff8dc;

color:#333;

border-radius:10px;

margin-top:20px;

transform:scaleY(0);

transform-origin:top;

transition:transform 0.8s ease;

}

/* scroll open */

.scroll.open{

transform:scaleY(1);

}

.envelope{
position:relative;
z-index:10000;
cursor:pointer;
}

.envelope{
transition:0.4s;
}

@media (max-width:600px){


.map{
grid-template-columns:1fr;
}

.stalls{
font-size:16px;
}

}

.card p{
font-size:clamp(14px,3vw,18px);
}

@media (max-width:600px){

.card{
padding:20px;
}

.map{
grid-template-columns:1fr;
}

.stalls{
font-size:16px;
}

}

button{
width:90%;
max-width:250px;
}

.scroll{
font-size:14px;
padding:15px;
}

.logo{
  width:120px;
  margin:10px auto;
  display:block;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

.h3{
    font-weight: 800;
    font-size: larger;
    
}